.header{
display: flex;
align-items: center;
justify-content: space-between;

&-list{
display: flex;
align-items: center;
gap: 42px;
}

&-link{
    color: #83888F;

    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: 0.923px;
    text-transform: uppercase;

}
&-link:active{
    color: #333D4B;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: 0.923px;
    text-transform: uppercase;
transition: all  1px ease ;

}

}

@media only screen and ( max-width:690){




    
}