.list{
margin-top: 188px;


    width: 1280px;
height: 577px;
border-radius: 10px;
background: #2C343E;





&-box{
margin-top: 112px;
padding: 112px 0 0 0;
}
&-box-title{
    color: #FEFCF7;
margin-top: 112px;
    text-align: center;
    font-family: "Fraunces" ;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; 


}
&-box-text{
width: 540px;
    color: #FEFCF7;
margin-left: 370px;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}











}




