.our-section {
    margin-top: 150px;
    background-image: url("../../assert/img/our\ collection.png");
    transform: translateX(50px);

    background-repeat: no-repeat;

    
    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    &-section-item {
        align-items: center;

        &-item-title {
text-align: center;
margin: 0 auto;

        }



    }
}